

<title>Dimittens</title>
<link rel="stylesheet" href="css/pagina-inicial-logged.css">
</head>

<%- include("../partial/header") %>

<main>
    <article class="primeiro-quadrante">
        <section class="text">
            <h1 class="titulo">Dimittens<br>Cuidando da sua Mente</h1>
            <% console.log('Variável autenticado no EJS:', autenticado); %>
            <% if (autenticado && autenticado.usuarioNome) { %>
                <h2 class="msg-boasvindas">Bem-vindo, <%= autenticado.usuarioNome %>!</h2>
            <% } else { %>
                <h2 class="msg-boasvindas">Bem-vindo, Visitante!</h2>
            <% } %>                     
            <p class="p-slogan">Nosso bem-estar é o que fazemos dele <br>
            coloque a sua saúde mental em primeiro lugar!<br>
            Cuide-se agora, sem sair de casa.</p>
        </section>
        <section class="d-fundo">
            <img src="imagens/mulher-320px.png" alt="" class="mulher-620px">
            <img src="imagens/mulher.png" alt="" class="mulher">
            <img src="imagens/950px.png" alt="" class="d-original">
            <img src="imagens/810px.png" alt="" class="d810">
            <img src="imagens/660px.png" alt="" class="d660">
            <img src="imagens/510px.png" alt="" class="d510">
            <img src="imagens/360px.png" alt="" class="d360">
            <img src="imagens/210px.png" alt="" class="d210">

        </section>
    </article>
    <article class="tipo-terapia">
        <section class="sec-terapia">
            <img src="imagens/terapia-individual.jpg" alt="">
            <h1>Terapia Individual</h1>
            <p class="p-terapia">Descubra seu potencial!<br>
            Supere seus desafios e encontre<br>equilíbrio conosco!</p>
        </section>
        <section class="sec-terapia">
            <img src="imagens/terapia-grupal.png" alt="">
            <h1>Terapia em Grupo</h1>
            <p class="p-terapia">Conheça novas perspectivas!<br>
            Encontre apoio e novas conexões aqui<br>com a Dimittens.</p>
        </section>
        <section class="sec-terapia-isolado">
            <img src="imagens/terapia-casal.png" alt="">
            <h1>Terapia em Casal</h1>
            <p class="p-terapia">Aprendam a superar seus conflitos,<br>restaurar e
            fortificar o laço com seus<br>parceiros na Dimittens.</p>
        </section>
    </article>
    <article class="transtornos-carrosel">
        <section class="info-titulo">
            <h1>COMO PODEMOS TE AJUDAR?</h1>
            <hr>
            <p>Os transtornos são uma combinação de pensamentos, percepções, emoções <br> e comportamentos anormais, que podem afetar sua relação <br>com outras pessoas</p>
        </section>
    </article>

    <%- include("../partial/carroseltranstornos") %>

    <%- include("../partial/passoapasso") %>

    <%- include("../partial/comentarios") %>

    <%- include("../partial/planos") %>


    <%- include("../partial/rodape") %>


</main>